*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background: linear-gradient(to right, rgb(129, 96, 96),#FF424D); */
}
ul{
    display: flex;
}
li{
    margin: 10px;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
nav{
    background-color: blanchedalmond;
}

a:hover{
    color: blue;
}